<%= form_for @receipt do |f| %>
  <% if @receipt.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@receipt.errors.count, "error") %> prohibited
        this recept from being saved:
      </h2>
      <ul>
        <% @receipt.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div id="header">
    <div id="logo">
      <img id="image" src='/images/logo.jpg' alt="logo" height=100px />
    </div>
    <div id="logoclick">
      <div class="logobutton"><a id="changelogo" href="javascript:;">Change Logo</a></div>
      <div class="logobutton"><a id="deletelogo" href="javascript:;">Delete Logo</a></div>
    </div>
    <div id="changeform">
      <div class="logobutton"><a id="changesave" href="javascript:;">Save Logo</a></div>
      <div class="logobutton"><a id="changecancel" href="javascript:;">Cancel</a></div>
      <div class="clear"></div>
      <div id="imageinput">
        <%= f.text_field :image_link, :size => '50', :id => 'imageloc' %>
      </div>
      <div class="clear"></div>
      <div id="imageinstr">Enter Logo URL</div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="form_middle">
    <div class="entry">
      <div class="label">DATE</div>
      <%= f.text_field :date %>
    </div>
    <div class="entry">
      <div class="label">ORDER #</div>
      <%= f.text_field :work_order_id %>
    </div>
    <div class="clear"></div>
    <div id="address">
      <div class="entry">
        <div class="label">FROM</div>
        <%= f.text_area :from_address, :class => 'companyinfo', :rows => '6', :cols => '40' %>
      </div>
      <div class="entry">
        <div class="label">TO</div>
        <%= f.text_area :to_address, :class => 'companyinfo', :rows => '6', :cols => '40' %>
      </div>
    </div>
    <div class="clear"></div>
    <div id="description" class="entry">
      <div class="label">JOB DESCRIPTION</div>
      <%= f.text_area :job_description, :class => 'companyinfo', :rows => '4', :cols => '87' %>
    </div>
  </div>
  <div class="clear"></div>
  <table id="line_items">
    <%= f.fields_for :line_items do |line_item| %>
      <tr class="data-row">
        <td>
          <div class="wrapper">
            <div class="label">QUANTITY</div>
            <%= line_item.text_field :qty, :class => "qty-value" %>
          </div>
        </td>
        <td>
          <div class="wrapper">
            <div class="label">PRICE</div>
          <%= line_item.text_field :unit_price, :class => "price-value" %>
          </div>
        </td>
        <td>
          <div class="wrapper">
          <div class="label">LINE TOTAL</div>
          <%= line_item.text_field :line_total, :class => "linetotal" %>
          </div>
        </td>
        <td class="delete-cell">
          <%= line_item.hidden_field :id %>
          <%= line_item.hidden_field :_destroy, :value=> '', :class => 'destroy' %>
          <%= link_to "Delete Line Item", "#", :class=> 'delete_line_item' %>
        </td>
        <td class="desc-cell">
          <div class="wrapper">
          <div class="label">DESCRIPTION</div>
          <%= line_item.text_field :description, :class => "description" %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
  <div class="add_line" >
    <%= link_to 'Add Line Item', '#', :class => 'add_line_item' %>
  </div>
  <table id="totals">
    <tr class="data-row">
      <td>
        <div class="wrapper">
          <div class="label">SUBTOTAL</div>
          <%= f.text_field :subtotal, :id => 'subtotal-value' %>
        </div>
      </td>
      <td>
        <div class="wrapper">
          <div class="label">SALES TAX</div>
          <%= f.text_field :taxes, :id => 'tax-value' %>
        </div>
      </td>
      <td>
        <div class="wrapper">
          <div class="label">TOTAL</div>
          <%= f.text_field :total, :id => 'total-value' %>
        </div>
      </td>
    </tr>
  </table>
  <% if !@receipt.new_record? %>
    <div class="delete_action">
      <%= link_to 'Delete', receipt_path(@receipt), :method => :delete, data: {:confirm => 'Are you sure?'}, :class => 'delete_button' %>
    </div>
  <% end %>
  <div class="receipt_actions">
    <%= f.submit :class => "submit_button" %>
    <% if !@receipt.new_record? %>
      <%= link_to 'Cancel', receipt_path(@receipt), :class=> "cancel_button" %>
    <% else %>
      <%= link_to 'Cancel', receipts_path, :class => "cancel_button" %>
    <% end %>
  </div>
<% end %>
