<div id="index_logo">
  <%= image_tag current_user.default_logo.url(:original), :id => "image" %>
</div>
<div class="clear"></div>
<h2 class="header_text">Listings of All Receipts</h2>
<div class="linegrey"></div>
<div class="clear"></div>
<div class="new_button" data-no-turbolink>
  <%= link_to 'New Receipt', new_receipt_path, :class => "submit_button" %>
</div>
<table id="all_articles">
  <tr class="thead">
    <th>Date</th>
    <th>W.O.#</th>
    <th>Receipt To</th>
    <th>Total</th>
    <th></th>
    <th></th>
  </tr>
  <% @receipts.each do |receipt| %>
    <tr data-no-turbolink>
      <td><%= receipt.date.strftime("%Y-%m-%d") %></td>
      <td><%= link_to receipt.work_order_id, receipt_path(receipt) %></td>
      <td><%= receipt.to_address.lines.first %></td>
      <td><%= receipt.total %></td>
      <td><%= link_to 'View', receipt_path(receipt) %></td>
      <td><%= link_to 'Delete', receipt_path(receipt), data: {:confirm => 'Are you sure?'}, :method => :delete %></td>
    </tr>
  <% end %>
</table>
